
server:
  port: 8761

eureka:
  instance:
    hostname: 127.0.0.1
  client:
    #表明自己是一个eureka server 设置为false
    register-with-eureka: false
    fetch-registry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/


spring:
  application:
    name: spring-eurka-server